{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
   "no-console": "off",
},
  "globals": {
    "afterAll",
    "beforeAll",
    "beforeEach",
    "describe",
    "fit",
    "it",
    "jasmine",
    "chai",
    "expect",
    "xit",
    "jest"
  }
}
